{% extends 'first_app/base.html' %}

{% block body_block %}

<div class="jumbotron">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Eveniet voluptas modi, sint voluptatem vitae consequuntur minus magnam ab rem 
        temporibus voluptatibus tenetur.
         Ex quo hic provident laudantium odit eveniet exercitationem!</p>
</div>
<div class="jumbotron">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Alias mollitia adipisci velit neque impedit natus reprehenderit,
         voluptatum, similique atque error magni vitae et sint facere doloribus. 
         Id sapiente numquam est.
    </p>
</div>
{% endblock %}